<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Une nouvelle commande vient d'être effectuée.</h1>

    <p>
      Le total de la commande est de: <%= @amount/100 %>
    </p>

  </body>
</html>
