<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Félicitations</h1>
    <p>
      T'as bien commandé ma gueule
    <br>
    </p>
    <p><%=@cart%></p>
  </body>
</html
