image_tag @item.picture<!-- header-banner -->
<div id="header-banner">
    <div class="banner-content single-page text-center">
        <div class="banner-border">
            <div class="banner-info">
                <h1>A propos de nous</h1>
                <p>Découvrez vite la team de Matouri !</p>
            </div><!-- / banner-info -->
        </div><!-- / banner-border -->
    </div><!-- / banner-content -->
</div>
<!-- / header-banner -->
</header>
<!-- / header -->

<!-- content -->

<!-- team section 4col -->
<section id="team">
    <div class="container">
        <h2 class="text-center space-top-2x">LA TEAM</h2>
        <div class="row">
            <!-- team-block -->
            <div class="col-sm-3">
                <div class="team block text-center">
                    <%= image_tag ("https://s3.eu-west-3.amazonaws.com/kitten-pictures/vir.jpg") %>
                    <div class="team-info-box">
                        <h6>VIRGINIE VALEUR</h6>
                        <p class="team-role">Team front end</p>
                        <p class="social text-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </p>
                    </div><!-- / team-info-box -->
                </div><!-- / team-block -->
            </div><!-- / col-sm-4 -->
            <!-- / team-block -->

            <!-- team-block -->
            <div class="col-sm-3">
                <div class="team block text-center">
                    <%= image_tag ("https://s3.eu-west-3.amazonaws.com/kitten-pictures/anais.jpg") %>
                    <div class="team-info-box">
                        <h6>ANAÏS DIOLOGEANT</h6>
                        <p class="team-role">Team front end</p>
                        <p class="social text-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </p>
                    </div><!-- / team-info-box -->
                </div><!-- / team-block -->
            </div><!-- / col-sm-4 -->
            <!-- / team-block -->

            <!-- team-block -->
            <div class="col-sm-3">
                <div class="team block text-center">
                    <%= image_tag ("https://s3.eu-west-3.amazonaws.com/kitten-pictures/thomasprs.jpg") %>
                    <div class="team-info-box">
                        <h6>THOMAS PERUS</h6>
                        <p class="team-role">Team back end</p>
                        <p class="social text-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </p>
                    </div><!-- / team-info-box -->
                </div><!-- / team-block -->
            </div><!-- / col-sm-4 -->
            <!-- / team-block -->
            <!-- team-block -->
            <div class="col-sm-3">
                <div class="team block text-center">
                    <%= image_tag ("https://s3.eu-west-3.amazonaws.com/kitten-pictures/mouss.jpg") %>
                    <div class="team-info-box">
                        <h6>MUSTAPHA AIT OUAYHOU</h6>
                        <p class="team-role">Team back end</p>
                        <p class="social text-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </p>
                    </div><!-- / team-info-box -->
                </div><!-- / team-block -->
            </div><!-- / col-sm-4 -->
            <!-- / team-block -->

        </div><!-- / row -->
    </div><!-- / container -->
</section>
</div><!-- / container -->

<!-- / content -->
