<!-- header -->
<header>
    <!-- header-banner -->
    <div id="header-banner" class="demo-1">
        <div class="banner-content text-center">
            <div class="banner-border">
                <div class="banner-info">
                    <h1>Matouri</h1>
                    <p>Livraison de photos de chatons.</p>
                </div><!-- / banner-info -->
            </div><!-- / banner-border -->
        </div><!-- / banner-content -->
    </div>
    <!-- / header-banner -->
</header>
<!-- / header -->

<!-- content -->

<!-- features section 3col -->
<section id="features">
    <div class="container">
        <div class="row">
            <!-- feature-block -->
            <div class="col-md-4 feature-center bg-light">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-gift"></i>
                    </div>
                    <h5>LIVRAISON GRATUITE</h5>
                    <p>Dans le monde entier.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-md-4 feature-center bg-dark">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <h5>LIVRAISON RAPIDE</h5>
                    <p>Dans le monde entier.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-md-4 feature-center bg-light">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-reply"></i>
                    </div>
                    <h5>REMBOURSEMENT</h5>
                    <p>Sous 30 jours.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / features section 3col -->


<!--
<% if user_signed_in? %>
  <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Se connecter", new_user_session_path %>
<% end %> -->
