<p id="notice"><%= notice %></p>

<h2>Panier</h2>

<ul>
  <% @cart.line_items.each do  |item| %>
    <li> <%= item.item.title %> (x <%=item.quantity%>) </li>
  <%end%>
</ul>


<%= link_to 'Retour au produits', root_path %>
