<!-- header-banner -->
<div id="header-banner">
    <div class="banner-content single-page text-center">
        <div class="banner-border">
            <div class="banner-info">
                <h1>Paiement</h1>
            </div><!-- / banner-info -->
        </div><!-- / banner-border -->
    </div><!-- / banner-content -->
</div>
<!-- / header-banner -->
</header>
<!-- / header -->
<section id="login-register">
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h2>Votre paiement de <%=@cart.total%> € a bien été effectué ! </h2>
          <p> Vous recevrez prochainement un email confirmant votre commande.</p>
          <p> Toute l'équipe Matouri vous remercie pour votre confiance et espère vous revoir très vite !</p>
        </div>
      </div>
    </div>
  </div>
</section>
