

<!-- preloader -->
<div id="preloader">
    <div class="spinner spinner-round"></div>
</div>
<!-- / preloader -->

<div id="top"></div>
<!-- nav -->
<nav class="navbar navbar-default nav-sec navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="../app/assets/images/logo2.png" alt=""/></a>
        </div><!-- / navbar-header -->
        <div class="secondary-nav">
            <%= link_to "", new_user_session_path, class:"my-account space-right fa fa-user" %>
            <a href="shopping-cart.html" class="shopping-cart"><i class="fa fa-shopping-cart"></i> <span class="cart-badge">2</span></a>
        </div>
        <div class="navbar-collapse collapse text-center">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html"><span>HOME</span></a></li>
                <li><a href="about.html"><span>ABOUT</span></a></li>
                <li><a href="items.html"><span>SHOP</span></a></li>
                <li><a href="contact.html"><span>CONTACT</span></a></li>
            </ul>
        </div><!--/ nav-collapse -->
    </div><!-- / container -->
</nav>
<!-- / nav -->
